@import "tailwindcss";
@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/themes/cerberus.css";

@source "../node_modules/@skeletonlabs/skeleton-svelte";

html, body {
	@apply h-full overflow-hidden;
}
